.main {
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  max-width: 1680px;
  margin-inline: auto;
  padding-inline: var(--sp-8);
}

@media (width <= 720px) {
  .main {
    padding-inline: var(--sp-5);
  }
}
